@font-face {
  font-family: 'ThirstyScript';
  src: local('ThirstyScript'), url('vendors/fonts/ThirstyScriptBold.otf') format('opentype');
}

@font-face {
  font-family: 'Exo2.0';
  src: local('Exo2.0-Regular'), url('vendors/fonts/Exo2.0-Regular.otf') format('opentype');
}

html {
  height: 100%;
}

body {
  min-height: 500px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Exxo2.0', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Exo2.0' !important
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-green {
  color: #016310  !important;
}

.main-bg-green {
  background-color: #016310  !important;
}

.title-green {
  color: #014a0c !important;
  font-weight: bold
}

.sweet-loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 999;
}